export const environment = {
  production: false,
  gatewayUrl: '{{ getv "/imisight/gatewayUrl" "http://localhost:3001" }}',
  auth0: {
    domain: '{{ getv "/imisight/auth0/domain" "satimisighta.auth0.com" }}',
    clientId: '{{ getv "/imisight/auth0/clientId" "KXLTbs08LtLqrbPwSgn7Ioej0aMB7tf6" }}',
    audience: '{{ getv "/imisight/auth0/audience" "http://localhost:3001/api" }}',
    redirect: '{{ getv "/imisight/auth0/redirect" "http://localhost:4200/callback" }}',
    home: '{{ getv "/imisight/auth0/home" "http://localhost:4200" }}',
    scope: 'openid profile'
  },
  info: {
    token: '{{ getv "/info/token" "something went wrong" }}'
  }
};
